body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #0de0ff;
}

.square {
  width: 68px;
  height: 68px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid black;
  background-color: #ffe200;
  margin: auto;
  color: #b31268;
  font-size: 20px;
  font-weight: 1000;
  line-height: 68px;
  text-align: center;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.grid {
  width: 330px;
  height: 330px;
  border-radius: 5px;
  background-color: #129eb3;
  border: 2px solid black;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: right;
  align-items: flex-start;
  flex-wrap: wrap;
}

.box {
  text-align: center;
  border-radius: 3px;
  background-color: rgb(248, 217, 11);
  border: 2px solid black;
  margin: 5px;
}

.title {
  text-align: center;
  font-size: 38px;
  font-weight: bolder;
  color: #b31268;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: black;
}

.score {
  margin: 45px;
}

.nr {
  color: white;
  font-size: 20px;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}

.scoreTitle {
  color: #b31268;
  font-size: 20px;
  font-weight: 900;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.info {
  width: 560px;
  height: 70px;
  margin: auto;
  margin-top: 20px;
  color: #b31268;
  font-size: 16px;
  font-weight: bolder;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  color: #b31268;
  font-size: large;
  font-weight: 600;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
